html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hey Dockers!!!
        h2 welcome to NH lab
        p You have to start practicing now :) .
        br
        h2 GP Code
        p ALX_SWD1_M2d
        h2 Team Members 
        p
          span.inlinenames Ingy El-Khateeb
          |  -- 
          span.inlinenames Menna Eltoni
          |  -- 
          span.inlinenames Bassant Abdulla
          |  -- 
          span.inlinenames Ahmed Nabil
          |  -- 
          span.inlinenames Ragab Ahmed
        p
        p
          a.btn.btn-primary(href="https://docs.docker.com/reference/" target="_blank") Docker documentation is a great source guys!